body {
  font-family: 'Vazir', sans-serif;
  margin: 0;
  padding: 0;
}

.hero {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
              url('images/photo_head3.jpg') 
              no-repeat center center/cover;
  display: flex;
  align-items: center;
  color: white;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}

.navbar {
  background-color: rgba(0, 0, 0, 0.85) !important;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}

.navbar-brand {
  font-weight: bold;
  font-size: 2.4rem;
}

.navbar-brand span {
  color: #a6f792; 
}

.nav-link {
  color: white !important;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #abe29a !important;
}

.nav-link:active{
  color: #a6f792;
  transition: 0.2;
}

.btn-outline-light {
  transition: all 0.3s ease;
}

.btn-outline-light:hover {
  background-color: #a6f792;
  border-color: #a6f792;
  color: white !important;
}

.btn-outline-light:active {
  background-color: #a6f792 !important;
  border-color: #a6f792 !important;
  transform: scale(0.95);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
html {
  scroll-behavior: smooth;
}

.menu {
  padding-top: 100px; 
}

.menu .card-img-top {
  width: 100%;
  height: 280px !important;      
  object-fit: cover !important;  
  object-position: center;
  border-radius: 15px 15px 0 0 !important;
}

.menu .card {
  border-radius: 15px !important;
  overflow: hidden;
  border: none !important;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: all 0.4s ease;
  height: 100%;
}

.menu .card:hover {
  transform: translateY(-20px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

.menu .row {
  --bs-gutter-x: 2.5rem; 
  --bs-gutter-y: 3rem;    
  margin-left: -15px;
  margin-right: -15px;
}

.menu .col-md-3 {
  padding: 15px !important;
}


.menu .fw-bold {
  font-size: 1.4rem !important;
  color: #76aa66 !important;
}

.menu .nav-pills .nav-link {
  border-radius: 50px !important;
  padding: 12px 30px !important;
  margin: 0 10px !important;
  font-weight: 600;
}

.menu .nav-pills .nav-link.active {
  background-color: #c9a16e !important;
  box-shadow: 0 5px 20px rgba(201, 161, 110, 0.4);
}

.title{
  font-size: 40px;
  font-family: 'tahoma', Courier, monospace;
  text-align: center;
  padding-top: 15px;
}

.contact{
  text-align: center;
  font-size: 16px;
  padding: 5px;
}